.header{
    display: flex;
    justify-content: space-between;
    border: solid 1px black;
}

.logo{
    width: 125px;
}

.nav-items > ul {
    display: flex;
    font-size: 24px;
    list-style-type: none;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}

.search{
    border: solid 1px black;
    height: 25px;
    margin-top : 10px;
    padding: 10px;
    font-size: 20px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    margin: 25px;
    width: 300px;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    background-color: #f0f0f0;
}

.res-card:hover{
    border: solid 1px black;
    box-shadow: 4px 4px 10px grey;
    cursor: pointer;
}

.res-img{
    width: 100%;
    height: 200px;
}